.orange-circle-pf {
    background-color: #90f38d;
    border-radius: 50%;
    padding-bottom: 100%; /* Maintain 1:1 aspect ratio */
    max-width: 95%;
    height: 0; /* Remove fixed height */
    margin: auto;
    overflow: hidden; /* Prevent content from overflowing */
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  

.premium-features-title{
    font-size: 34px;
    color: black;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    margin-bottom: 40px;
}

.find-my-fmly-map{
    width: 350px;
    height: 350px;
    position: relative;
    max-width: 80%;
    max-height: auto;
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 0 auto ; /* Center the element horizontally */
}

.fmf-text-svg{
    position: relative;
    width: 100%;
    max-width: 350px;
    height: auto;
    z-index: 1;
    margin: auto;
    margin-bottom: 40px;
}

.fmf-text{
    color: black;
    text-align: center;
    width: 80%;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 40px;
}

.premium-features-text{
    color: #888181;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin:auto;
}

.fmly-pf-text{
    color: #83F3DF;
    font-weight: 600;
    font-family: 'Paytone One', sans-serif;
    font-size: 40px;
}

.blue-square-pf{
    background-color: #4D57B1;
    border-radius: 40px;
    width: 350px;
    height: 350px;

    max-width: 90%;
    max-height: auto;
    display: inline-block;
    margin: auto;
}

.bountyboard-minimal-view{
    width: 150px;
    height: 350px;
    position: relative;
    margin: auto;
    max-width: 100%;
    max-height: auto;
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bountyboard-blue-title{
    color: #83CBF3;
    font-weight: 700;
    font-family: 'Popfepins', sans-serif;
    font-size: 40px;
    width: fit-content;
    max-width: 90%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bountyboard-blue-text{
    margin-top: 30px;
    color: black;
    text-align: left;
    width: 80%;
    margin-bottom: 30px;
    position: relative;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 40px;
}